@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.header-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-section, .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar li{
    list-style: none;
    margin-right: 20px;
}
.navbar li a{
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;   
}
.menu1{
    color: orange;
}
.menu2{
    color: skyblue;
}
.menu3{
    color: #05D4DF;
}
.menu4{
    color: #5D58EF;
}
.header-btn{
    color: white;
    font-weight: bold;
    background-color: orange;
    border: none;
    border-radius: 10px;
    padding: 15px 40px;
}
/* --------------mobile navber------------------------- */
hr{
    border: 1px solid orange;
}

/* --------------------------------------- */
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-box1{
    width: 50%; 
    /* margin-right: 300px; */
}
.hero-section div{
    /* width: 50%; */
}
.hero-title{
    margin: 25px 0;
    font-size: 3.5rem;
    font-weight: bold;
}
.title-color-orange{
    color: orangered;
}
.title-color-skyblue{
    color: skyblue;
}
.hero-description{
    font-size: 1.25rem;
    font-weight: 400;
}
.hero-btn{
    padding: 20px 50px;
    color: white;
    background-color: black;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}
/* -------------- Hero Section End ------------- */
.class-section, .story-box{
    margin: 50px 150px;
    text-align: center;
    background-image: url(assets/bg.png);
   
    background-position: center;
}
.class-section > h3{
    font-size: 2.75rem;
    font-weight: bold;
}
.class-box{
    display: flex;
    gap: 50px;
}
.card{
    padding: 50px;
    
    border-radius: 20px;
}
.card1{
    background-image: linear-gradient(rgb(182, 234, 255), rgb(247, 242, 242));
}
.card2{
    background-image: linear-gradient(rgb(255, 234, 194),rgb(247, 242, 242));
}
.card3{
    background-image: linear-gradient(rgb(255, 174, 255), rgb(247, 242, 242));
}
.card h4{
    font-size: 1.5rem;
}
.card1 a{
    color: skyblue;
    text-decoration: none;
}
.card2 a{
    color: orange;
    text-decoration: none;
}
.card3 a{
    color: purple;
    text-decoration: none;
}
/* - -------------- Class Section End -------------  */
.arrow-btn-section{
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    /* align-items: center;  */
}
.arrow-btn-section button{
    color: white;
    padding: 15px;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    border-radius: 50%;
    background-color: orange;
}
/* ---------------------Card End----------------------- */
.story-section{
    margin: 50px 0;
    padding: 50px 10px;
    background-image: 
               linear-gradient(
                    rgba(241, 241, 241, 0.468), 
                    rgb(255, 200, 234)
                ), 
                url(assets/bg.png);
    text-align: center;
}
.story-section > h3{
    font-size: 2.75rem;
}
.story-box{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    text-align: left;
}
.item{
    background-color: white;
    
    border-radius: 20px;
    
}
.item img{
    border-radius: 20px 20px 0 0;
    width: 100%;
}
.item-description{
    padding: 10px 50px;
}
.item-description h4{
    font-size: 1.5rem;
}
.item-description h5{
    font-size: 1rem;
}
.item1 {
    grid-row: 1 / span 2;
    /* position: relative; */
  }
 .popup-bar{
    position: relative;
    bottom: 230px;
    left: 100px;
    border-radius: 40px;
    padding: 20px ;
    width: 150px;
    font-weight: bold;
    background-color: aqua;
 }
 .popup-bar2{
    font-weight: bold;
    position: relative;
    bottom: 140px;
    left: 0px;
    border-radius: 40px;
    padding: 15px ;
    width: 150px;
    background-color: rgb(111, 255, 0);
 }
 /* ---------- Medium Device ----------- */
 @media screen and (min-width: 577px){
    .menu-icon{
        display: none;
    }
    hr{
        display: none;
    }
 }

/* ---------- Small Device ----------- */
@media screen and (max-width: 576px){
    .logo-title{
        display: none;
    }
    .menu-bar{
        display: none;
    }
.header-btn{
    display: none;
}
.header-section{
    justify-content: space-between;
}

    .mobile-nav{
        display: flex;
        justify-content: space-between;
    }
    /* ----------------------------------------- */
    .hero-section{
        flex-direction: column-reverse; 
        justify-content: center;
        text-align: center;
    }
    .hero-box1{
        width: 100%; 
        /* margin-right: 300px; */
    }
    .hero-box2{
        margin: 100px;
    }
    .hero-box2 img{
        width: 400px;
    }
    .hero-title{
        /* margin: 25px 0; */
        font-size: 2.5rem;
        font-weight: bold;
    }
    /* -------------- Hero Section End ------------- */
    .class-section{
        margin: 50px 10px;
    }
    .class-box{
        flex-direction: column;
        gap: 10px;
    }
    /* - -------------- Class Section End -------------  */
    .arrow-btn-section{
        display: none;
    }
    .story-section button{
        margin: 30px;
    }
    .story-box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        text-align: left;
        margin: 0;
        
    }
    .item1{
        display: none;
    }
    .item-description{
        padding: 10px 20px;
    }

}